name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go/go.mod
          cache-dependency-path: go/go.sum

      - name: Build Go Library
        run: bundle exec rake go:build

      - name: Compile Native Extension
        run: bundle exec rake compile

      - name: Run tests
        run: bundle exec rake test

      - name: Run steep check
        run: bundle exec steep check

      - name: Run rubocop
        run: bundle exec rubocop
